@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-green-AC: #60977b;
  --color-red-btn: rgb(255, 97, 97);
  --color-green-btn: rgb(63, 118, 82);
  --color-white: rgb(255, 241, 219);
  --color-agenda: rgba(255, 255, 255, 0.9);
  --color-agenda-date: rgb();
  --color-agenda-title: #333;
  --color-agenda-venue: #555;
  --color-comment-title: rgb(252, 182, 76);

  --font-avenir: "Avenir", "sans-serif";
  --font-sacramento: "Sacramento", "sans-serif";
  --font-raleway: "Raleway", "sans-serif";
}
@font-face {
  font-family: "Avenir";
  src: url(/public/css/AvenirLTStd-Black.otf);
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir";
  src: url(/public/css/AvenirLTStd-BlackOblique.otf);
  font-weight: 900;
  font-style: oblique;
  font-display: swap;
}
@font-face {
  font-family: "Avenir";
  src: url(/public/css/AvenirLTStd-Heavy.otf);
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir";
  src: url(/public/css/AvenirLTStd-HeavyOblique.otf);
  font-weight: 800;
  font-style: oblique;
  font-display: swap;
}
@font-face {
  font-family: "Avenir";
  src: url(/public/css/AvenirLTStd-Medium.otf);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir";
  src: url(/public/css/AvenirLTStd-MediumOblique.otf);
  font-weight: 500;
  font-style: oblique;
  font-display: swap;
}
@font-face {
  font-family: "Avenir";
  src: url(/public/css/AvenirLTStd-Book.otf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir";
  src: url(/public/css/AvenirLTStd-BookOblique.otf);
  font-weight: 400;
  font-style: oblique;
  font-display: swap;
}
@font-face {
  font-family: "Avenir";
  src: url(/public/css/AvenirLTStd-Roman.otf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir";
  src: url(/public/css/AvenirLTStd-Oblique.otf);
  font-weight: 400;
  font-style: oblique;
  font-display: swap;
}
@font-face {
  font-family: "Avenir";
  src: url(/public/css/AvenirLTStd-Light.otf);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir";
  src: url(/public/css/AvenirLTStd-LightOblique.otf);
  font-weight: 300;
  font-style: oblique;
  font-display: swap;
}
@font-face {
  font-family: "Sacramento";
  src: url(/public/css/Sacramento-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
