---
import Layout from "@layouts/Layout.astro";
const title = "Biografía | Ángela Cervantes";
const description =
  "Conoce la historia y trayectoria musical de Ángela Cervantes.";
---

<Layout
  title={title}
  description={description}
  headerBg="bg-yellow-500 md:bg-transparent"
>
  <section
    class="bg-yellow-500 md:bg-transparent text-white text-center py-12 px-4 -mt-1"
  >
    <h1 class="text-5xl mb-2 font-['Playfair_Display']">Biografía</h1>
    <p class="text-lg max-w-2xl mx-auto">
      Conoce mi historia y trayectoria musical
    </p>
  </section>
  <section
    class="bg-yellow-500 md:bg-transparent max-w-6xl mx-auto px-4 md:grid md:grid-cols-3 md:gap-8"
  >
    <div class="text-gray-700 md:col-span-2">
      <p class="mb-4">
        Su trayectoria musical comenzó en el hotel donde se crió, en la Ibiza de
        los 80 y 90. Ángela cantaba en la orquesta que amenizaba las tardes de
        los turistas, y escuchaba sus historias de ultramar. Pronto comprendió
        que la música era su pasión y que le tocaría a ella hacer las maletas
        para ver por sí misma el mundo, más allá de los límites del mar.
      </p>
      <p class="mb-4">
        Un día de 1999, tomó un barco rumbo a Barcelona donde comenzaría una
        sólida formación artística en danza, interpretación y música. Se forjó
        una gran técnica vocal estudiando clásico y ópera con Federico Rey,
        Pepita Escandell y Raquel Lojendio, que sostendría todos los recursos y
        colores que aprendió del Gospel, Jazz, Latin, y estilos más modernos.
        Continuó sus estudios con Deborah J. Carter de quien aprendió a
        improvisar y a auto producirse la voz para lograr emitir exactamente el
        sonido que podía imaginar. El fraseo lo comprendió con Carme Canela. Con
        ella se aventuraría a tratar la voz como un instrumento y a integrarse
        en la banda como uno más. Más tarde, Emmanuel Djob le enseñaría a
        utilizar todo su registro, engrosar la voz utilizando los graves y
        ampliar su expresividad.
      </p>
      <p class="mb-4">
        Desde entonces, consciente de lo importante que es el continuo
        aprendizaje para renovar el lenguaje y la creatividad, no ha dejado
        nunca de estudiar y formarse como artista. Ha contado con maestros como
        Ivana Kotov, Shamanka Phoenix o Caro Guiral que conforman sus grandes
        influencias y referentes, y ha atendido a infinidad de master classes,
        workshops y talleres de artistas como Pat Metheny, Perico Sambeat,
        Sheila Jordan, Paul Farrington, entre muchos otros.
      </p>
      <p class="mb-4">
        Desde que en 2001 comenzara su andadura profesional, son incalculables
        los conciertos que ha interpretado, y las bandas o artistas con los que
        ha colaborado. Muchos de estos proyectos han gozado de gran relevancia
        internacional y han realizado giras mundiales, como el espectáculo de
        Gospel y World Music liderado por Emmanuel Djob “The Black &amp; White
        Xperience”, la Compañía de danza Antonio Najarro con el trabajo “Jazzing
        Flamenco”, o el tributo a Pink Floyd que realiza la magnífica banda de
        Liverpool, Brit Floyd, en la que Ángela daba vida al espectacular solo
        de Clare Torry. Sin embargo, no hay que desestimar las centenas de
        programaciones que ha representado en todo el territorio nacional, y que
        son realmente las que han contribuido a desarrollar su destreza y
        maestría como cantante.
      </p>
      <p class="mb-4">
        Ya asentada en Madrid y con una identidad artística más definida, en
        2012 decide crear sus propios trabajos discográficos y abordar otros
        repertorios en castellano. Su primer álbum “En esta orilla de Drexler”
        cuenta con la participación del propio artista, y compartir escenarios
        con él en Madrid, supuso un hito muy especial en su carrera por su gran
        valor inspirador y emotivo.
      </p>
      <p class="mb-4">
        Con su segundo trabajo “Recordando a Ella Fitzgerald y Joe Pass” grabado
        en 2014 a dúo con Chema Saiz, la cantante rinde homenaje a sus grandes
        referentes además de profundizar en el lenguaje jazzístico, timbre y
        fraseo.
      </p>
      <p class="mb-4">
        Pero no es hasta 2016 con su tercer álbum “Camino a Santa Clara… Por 50
        años más con los Fakires” que la artista realmente logra materializar un
        sueño; el reencuentro con las canciones que su abuela, Ángela Cervantes,
        le cantaba de niña. En esta ocasión, los Fakires y Cuba se convierten en
        protagonistas de una experiencia musical y vital tan memorables, que el
        mismo Chucho Valdés no puede dejar de elogiar en sus reseñas, destacando
        su belleza, autenticidad y gran consonancia entre la música tradicional
        cubana y la contemporánea.
      </p>
      <p class="mb-4">
        Ahora, en 2021, en medio de la pandemia y después de traer al mundo a
        dos criaturas, su mirada se ha detenido en Sylvia Rexach. Esta heroica
        artista puertorriqueña tan desconocida en España como admirada en
        Latinoamérica, se ha convertido en el corazón de su último trabajo
        discográfico “Olas y Arenas”, ideado y producido por José E. Cruz y
        compartido íntegramente con el extraordinario músico pianista Pepe
        Rivero, que además ha escrito sus maravillosos arreglos.
      </p>
      <p class="mb-4">
        Este álbum marca un antes y un después, no sólo en la trayectoria
        profesional sino también en la vida de Ángela Cervantes. Después de tres
        años sumergida en la extenuante labor de la crianza, este proyecto se ha
        convertido en la consagración de una gran artista cuya inmensa
        creatividad no admite confinamientos, ni clausuras. Su voz, colmada de
        emoción y expresividad, recupera el legado de Sylvia y nos lo presenta
        para nuestro deleite con este cuidado repertorio henchido de simbología
        y profunda humanidad.
      </p>
      <p class="mb-4">
        Como persona y como artista, Ángela Cervantes tiene la excepcional
        capacidad de transformar lo tosco y rudo de nuestra vida cotidiana, en
        algo bello y digno de admirar. Bondad y luz emanan inagotables de su
        interior, e impiden que el demoledor transcurso de la costumbre y la
        rutina, arruinen el encanto, la magia, la poética y la ilusión de luchar
        por un mundo mejor. Esta condición, determina inevitablemente el
        resultado de su música. Además de apreciarse en ella un dominio técnico
        y expresivo abrumador, con todo su coraje, Ángela consigue difundir un
        mensaje lleno de confianza y esperanza. Sin duda alguna, cualquier
        persona que la escuche cantar, se llevará mucho más de lo que traía.
      </p>
      <p class="mt-8 text-right text-sm italic">
        Biografia escrita por María Hidalgo - Directora de la Escuela de Artes
        de Madrid TAI
      </p>
    </div>
    <div class="p-4 grid grid-cols-[repeat(auto-fill,minmax(250px,1fr))] gap-8">
      <div
        class="overflow-hidden rounded-lg shadow-md transition-transform duration-300 ease-in-out hover:-translate-y-1 hover:shadow-xl h-fit"
      >
        <img
          src="https://static.wixstatic.com/media/4b5c34_f25881b659f2412a8c11c7e69ab588a4~mv2.png/v1/fill/w_210,h_220,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/4b5c34_f25881b659f2412a8c11c7e69ab588a4~mv2.png"
          alt="Imagen de galería 1"
          class="w-full object-cover transition-transform duration-500 ease-in-out hover:scale-105 h-fit"
        />
      </div>
      <div
        class="overflow-hidden rounded-lg shadow-md transition-transform duration-300 ease-in-out hover:-translate-y-1 hover:shadow-xl h-fit"
      >
        <img
          src="https://static.wixstatic.com/media/4b5c34_a31a496121b445ac92191bf01150cdc9~mv2_d_3456_5184_s_4_2.jpg/v1/fill/w_210,h_315,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/4b5c34_a31a496121b445ac92191bf01150cdc9~mv2_d_3456_5184_s_4_2.jpg"
          alt="Imagen de galería 2"
          class="w-full object-cover transition-transform duration-500 ease-in-out hover:scale-105"
        />
      </div>
      <div
        class="overflow-hidden rounded-lg shadow-md transition-transform duration-300 ease-in-out hover:-translate-y-1 hover:shadow-xl h-fit"
      >
        <img
          src="https://static.wixstatic.com/media/4b5c34_127408c129c74399b82c0776372ae04b.jpg/v1/fill/w_215,h_325,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/4b5c34_127408c129c74399b82c0776372ae04b.jpg"
          alt="Imagen de galería 3"
          class="w-full object-cover transition-transform duration-500 ease-in-out hover:scale-105"
        />
      </div>
      <div
        class="overflow-hidden rounded-lg shadow-md transition-transform duration-300 ease-in-out hover:-translate-y-1 hover:shadow-xl h-fit"
      >
        <img
          src="https://static.wixstatic.com/media/4b5c34_d904677c0a4140c4b1013beda46d6cc5~mv2.png/v1/fill/w_205,h_315,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/4b5c34_d904677c0a4140c4b1013beda46d6cc5~mv2.png"
          alt="Imagen de galería 4"
          class="w-full object-cover transition-transform duration-500 ease-in-out hover:scale-105"
        />
      </div>
    </div>
  </section>
</Layout>
