---
import SocialLinks from "@components/SocialLinks";

interface Props {
  bgColor?: string;
}

const { bgColor = "transparent" } = Astro.props;
---

<header
  class={`${bgColor} backdrop-blur-none p-2 flex flex-col items-center text-white`}
>
  <SocialLinks client:load />
  <a href="/" class="pointer">
    <h1
      class="mx-auto mt-4 text-6xl font-rosaline text-green-AC hover:text-green-300 transition-colors"
    >
      Ángela Cervantes
    </h1>
  </a>
  <h2
    class="mx-auto mb-2 text-white font-rosaline text-xl z-10 tracking-wide"
  >
    Bienvenidas, a mi rincón de sueños musicales de raíz...
  </h2>
</header>
